.awesome-screenshots__section {
    .awesome-screenshots__container {
        .awesome-screenshots___row {
            .awesome-screenshots__heading {
                .awesome-screenshots__underline {
                    .dots {

                    }
                }
            }
        }
        .awesome-screenshots__column {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            &:last-of-type {
                margin: 0 auto;
                grid-template-columns: 1fr;
            }
            .awesome-screenshots__picture {
                img {

                }
            }
            .awesome-screenshots__circles-box {
                .dot {
                    color: $blue;
                }
                .dot-alt {
                    color: $blue;
                }
            }
        }
    }
}