
@import './buttons';

.header {
    display: grid;
    column-width: 80%;
   
    .header__container {

        display: grid;
        grid-template-columns: 40% 30%;
        grid-template-rows: 80vh;
        grid-gap: 30px 50px;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        padding-top: 60px;

        background-color: $blue;

        .header__heading-box {

            height: 70vh;
            color: $white;

            margin: 0 auto;

            .header__heading-text {
                display: inline-block;

                margin-top: 70px;
                font-size: 3em;

                padding-bottom: 20px;

                &::first-line {
                    padding: 10px; 
                }

                .bold-text {
                    font-family: 'Raleway-Bold';
                    
                    display: inline-block;
                    line-height: 1;
                    
                    &::before {
                        content: "\A";
                        white-space: pre;
                        

                    }
                }
            }
            .header__content-text {
                font-family: 'OpenSans-Regular';
                line-height: 1.6;
                font-size: 16px;
                padding-bottom: 30px;
            }
            
        }
        .header__heading-picture {
            display: flex;
            align-content: center;
            justify-content: center;

            .picture__box {
                img {
                    width: 110%;
                }
            }
        }
    }
}