.nav {
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 240px 1fr;
    margin: 0 auto;
    height: 150px;  
    .logo__wrapper {
        align-self:  center;
        .logo__picture {
            background-repeat: no-repeat;
            background-position: center;
            width: 12em;
            margin: 2em;
        }
    }
    .nav__list {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;

        .nav__element {
            padding: 0 2rem 0 2rem;
            align-self:  center;
            .nav__link {
                text-transform: uppercase;
                font-family: 'OpenSans-Bold', sans-serif;
                color: #303030;
                font-size: 1rem;
                font-weight: 700;
                text-decoration: none;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #4776e6;
                }
            }
            
        }
    }
}