.nav {
    display: grid;
    grid-template-columns: 240px 1fr;
    border: 1px solid #333;
    height: 150px;  
    .logo__wrapper {
        align-self:  center;
        .logo__picture {
            background-repeat: no-repeat;
            background-position: center;
            width: 12em;
            padding: 10px 20px;
        }
    }
    .nav__list {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin-left: 10em;
        .nav__element {
            padding: 0 2rem 0 2rem;
            align-self:  center;
            .nav__link {
                text-transform: uppercase;
                font-family: 'OpenSans-Bold';
                color: #303030;
                font-size: 1rem;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: #4776e6;
                }
            }
            
        }
    }
}