.topapps-features__section {
    background-color: $blue;
    .topapps-features__container {
        .topapps-features___row {
            
        }
        .topapps-features__column {
            grid-template-columns: 1fr 1fr 1fr;
            .how-it-works__row {
                &:first-of-type {
                    grid-template-rows: 1fr 1fr; 
                }
                grid-template-rows: 1fr 1fr 1fr;
                    .topapps-features__content {
                        .topapps-features__title {

                        }
                        .topapps-features__description {

                        }
                        .topapps-features__icon {

                        }
                    }
                    .how-it-works__picture {
                        .picture__box {
                            img {

                            }
                        }
                    }
                }
    
        }
    }
}