.contact-us__section {
    .contact-us__container {
        .contact-us__row {
            &:last-of-type {
                grid-template-rows: 1fr;
            }
            .contact-us__heading {
                .contact-us__underline {
                    .dots {

                    }
                }
            }
            .contact-us__description {

            }
            .contact-us__form {
                .contact-us__fields {
                    display: inline;
                    .contact-us__input-field {
                        border: 1px solid #e4e4e4;
                        width: 40%;

                        &:last-of-type {
                            
                        }
                    }
                }
                .contact-us__input-field {
                    border: 1px solid #e4e4e4;
                    width: 100%;

                }
                textarea {
                    height: 300px;
                }
                .contact-us__submit-btn {
                    display:block;
                    margin: 0 auto;
                    padding: 15px 35px;
                    border-radius: 5px;
                }
            }
        }
    }
}