@import './reset';
@import './colors';
@import './fonts';
@import './buttons';
@import './header';
@import './nav';
@import './body';


:root {
    --main-color: #eee;
}

body {
    display: grid;
    justify-content: center;
    font-family: 'OpenSans-Regular', sans-serif;
    background: var(--main-color);
}