
@import './fonts';
@import './header';
@import './nav';


:root {
    --main-color: #eee;
}

body {
    max-width: 1920px;  
    font-family: 'OpenSans', sans-serif;
    background: var(--main-color);
}