@import './reset';
@import './colors';
@import './variables';
@import './patterns';
@import './fonts';
@import './buttons';
@import './header';
@import './nav';
@import './overview';
@import './body';
@import './how-it-works';
@import './topapps-features';



$fa-font-path: "../assets/fonts/";
@import "./font-awesome/fontawesome.scss";




:root {
    --main-color: #eee;
}

body {
    display: grid;
    justify-content: center;
    font-family: 'OpenSans-Regular', sans-serif;
    background: var(--main-color);
}